:host {
  display: inline-block;
  button {
    -webkit-appearance: none;
    border-radius: 3px;
    font-size: 14px;
    font-family: sans-serif;
    min-width: 80px;
    padding: 8px 16px;
    color: var(--button-color,rgb(48, 52, 58));
    background: var(--button-bg, rgba(9, 30, 66, 0.04));
    transition: all 0.1s ease-in-out;
    border: none;
    
    &:focus {
      outline: none;
      background: var(--button-hover-bg, rgba(9, 30, 66, 0.07));
    }
    &:hover {
      background: var(--button-hover-bg, rgba(9, 30, 66, 0.07));
    }

    &:active {
      transition: all 0.05s ease-in-out;
      background: var(--button-active-bg, rgba(74, 134, 238, 0.187));
    }
  }
}
